// CSS Reset
@import "bootstrap/reset.less";

// Core variables and mixins
@import "bootstrap/variables.less"; // Modify this for custom colors, font-sizes, etc
@import "bootstrap/mixins.less";

// Grid system and page structure
@import "bootstrap/scaffolding.less";
@import "bootstrap/grid.less";
@import "bootstrap/layouts.less";

// Base CSS
@import "bootstrap/type.less";
@import "bootstrap/code.less";
@import "bootstrap/forms.less";
@import "bootstrap/tables.less";

// Components: common
@import "bootstrap/sprites.less";
@import "bootstrap/dropdowns.less";
@import "bootstrap/wells.less";
@import "bootstrap/component-animations.less";
@import "bootstrap/close.less";

// Components: Buttons & Alerts
@import "bootstrap/buttons.less";
@import "bootstrap/button-groups.less";
@import "bootstrap/alerts.less"; // Note: alerts share common CSS with buttons and thus have styles in buttons.less

// Components: Nav
@import "bootstrap/navs.less";
@import "bootstrap/navbar.less";
@import "bootstrap/breadcrumbs.less";
@import "bootstrap/pagination.less";
@import "bootstrap/pager.less";

// Components: Popovers
@import "bootstrap/modals.less";
@import "bootstrap/tooltip.less";
@import "bootstrap/popovers.less";

// Components: Misc
@import "bootstrap/thumbnails.less";
@import "bootstrap/labels-badges.less";
@import "bootstrap/progress-bars.less";
@import "bootstrap/accordion.less";
@import "bootstrap/carousel.less";
@import "bootstrap/hero-unit.less";

// Utility classes
@import "bootstrap/utilities.less"; // Has to be last to override when necessary


//Needed if using fixed navbar 
body {
  padding-top: 60px;
  padding-bottom: 40px;
}
.sidebar-nav {
  padding: 9px 0;
}

// RESPONSIVE CLASSES
// ------------------

@import "bootstrap/responsive-utilities.less";


// MEDIA QUERIES
// ------------------

// Large desktops
@import "bootstrap/responsive-1200px-min.less";

// Tablets to regular desktops
@import "bootstrap/responsive-768px-979px.less";

// Phones to portrait tablets and narrow desktops
@import "bootstrap/responsive-767px-max.less";


// RESPONSIVE NAVBAR
// ------------------

// From 979px and below, show a button to toggle navbar contents
@import "bootstrap/responsive-navbar.less";

body {
  padding-top: 60px;
  padding-bottom: 40px;
  background-image:url('../img/bg-pattern.png');
}




/* ===== Primary Styles ========================================================
   Author:Michael Kevin Victor
   ========================================================================== */

#usha_menon_menu {
	font-size:38px;
	padding-top:5px;
	padding-bottom:2px;
	color: #970000;
	text-shadow: 0px 2px 3px #666;
}

#search_bar {
	padding:	10px;
}


#quote {
	font-size:180%;
	padding	:			5px;
}

hr {
	color: @umenon_orange;
	background-color: @umenon_orange;
}

#tweet_slider {
	padding : 			10px 10px 10px 0px;
	font-size: 			14px;
}

#testimonial {
	padding :			10px;
}

#watch_video_button, #take_survey_button, #resources_button {
	width:				150px;
}

.content_box{
	padding : 			20px;
	color:				white;
}

.content_box p {
	font-size:			14px;	
}	

#content_box1 {
	background-color:		@umenon_orange;
}

#content_box2 {
	background-color:		@umenon_red;
}

#content_box3 {
	background-color:		@umenon_green;
}

.about_us_box {
	padding	:			20px;
	font-size:			14px;
}

.about_us_box p{
	font-size:			14px;
}

.umheading {
	font-size:250%;
	color:					@umenon_orange;
}



